<div data-role="header">
<h1><%= @shop.name%>

</h1>
  <%= link_to 'Home', pages_home_path, "class" => "ui-btn-right" %>

</div>
	<p id="notice"><%= notice %></p>

<div data-role="content">
<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Address:</b>
  <%= @shop.address %>
</p>

<p>
  <b>Description:</b>
  <%= @shop.description %>
</p>


</div>
