<h1>Listing loyalties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loyalties.each do |loyalty| %>
  <tr>
    <td><%= loyalty.name %></td>
    <td><%= loyalty.points %></td>
    <td><%= link_to 'Show', loyalty %></td>
    <td><%= link_to 'Edit', edit_loyalty_path(loyalty) %></td>
    <td><%= link_to 'Destroy', loyalty, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loyalty', new_loyalty_path %>
